header {
    background-color:blueviolet;
    text-align:center;
    font-size: 3em;
    size: 3em;
}
main {
    background-color: beige;
    height: 135vh;
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-family: helvetica;
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
    align-items: center;
    display: block;
    @keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
}

ul, ol {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

.unravel {
    color:pink;
    width:75%;
    font-size:25px;
    opacity:40%;
}


body {
    background-image: url("https://i.pinimg.com/736x/35/f4/6d/35f46d5849855bf4990dde9d9ac099c9.jpg")
}
