header {
    background-color:rgb(102, 91, 77);
    text-align:center;
    font-size: 3em;
}

.title {
    color: pink;
    font-family: cursive;
    text-shadow: 2px 2px 5px black;
}

@keyframes parpadeo {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.title {
    animation: parpadeo 1s infinite;
}



main {
    background-color: beige;
    height: 450vh;
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-family: helvetica;
    text-align: center;
   
}

img {
    width: 50%;
    margin: 30px auto;
    align-items: left;
    animation: mover 5s infinite;
    border-radius: 10px;
    border: 2px solid rgb(192, 96, 141);
}

ul, ol {
    text-align: center;
    display: inline-block;
    margin: 50px auto;
}

.unravel {
    color:rgb(209, 108, 125);
    width:75%;
    font-size:25px;
    opacity:40%;
    animation: parpadeo 2s infinite;
    text-align: bottom;
    margin: 10px auto;
    animation: rotar-agrandar 5s infinite;
}


body {
    background-image: url("https://i.pinimg.com/736x/35/f4/6d/35f46d5849855bf4990dde9d9ac099c9.jpg");
}

@keyframes agrandar {
    0% { transform: scale(1); }
    30% { transform: scale(1.2); }
    70% { transform: scale(1); }
    100% { transform: scale(1); }
}

.miniicon {
    width: 10%;
    animation: agrandar 2s infinite;

    margin:0;
    border-radius: 10px;
    border: 0.5px solid rgb(80, 55, 55);
}

@keyframes rotar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(0 deg); }
    75% { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
    fluid: 1s;
}

@keyframes rotar-agrandar {
    0% { transform: rotate(0deg)  scale(1); }
    25% { transform: rotate(30deg) scale(1.2); }
    50% { transform: rotate(0 deg) scale(1); }
    75% { transform: rotate(-30deg) scale(1.2); }
    100% { transform: rotate(0deg) scale(1); }
}


 .container{ 
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     text-shadow: 2px 2px 5px rgb(192, 96, 141);
     margin:0 auto;
     margin-top: 30px;
     margin-bottom: 50px;
    }

.subtitle {
    color: rgb(85, 61, 65);
    margin: 0;
    font-size: 1.5em;
    font-family: cursive;
    width: max-content;
    
}

ul {
    padding: 0;
    align-items: left;
    font-size: 20px;
    font-family: cursive;
    color: rgb(73, 13, 23);
    

}
.liimages {
    display: flex;
    text-align: center;
    margin: auto;
    animation: agrandar2 2s infinite;
}

.listahorizontal {
    display: flex;
    justify-content: center;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    list-style: none;
}

@keyframes agrandar2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

.texto-animado {
    animation: parpadeo 2s infinite;
    color: rgb(73, 13, 23);
    font-family: cursive;
}


@keyframes mover {
    0% { transform: translateX(0); }
    33% { transform: translateX(100px); }
    66% { transform: translateX(-100px); }
    100% { transform: translateX(0px); }
    timing-function: ease-in-out;
}

.gif {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    align-items: left;
    animation: none;
}
.hades{
  font-family: "Ole", cursive;
  font-size: 50px;
  font-style: italic;
  margin: auto;
  color:rgb(70, 48, 48)
}
